<footer>
    <p>Wij verzoeken u deze factuur voor 22-01-2014, onder vermelding van het factuurnummer,14300274<br />
        te betalen op bankrekeningnummer 014.18.85.858 De Hosting Makelaar BV</p>
    <p>Op deze factuur zijn onze algemene voorwaarden van toepassing.</p><br />
    <table width="180mm">
        <tr><td>Betalingstermijn: <b>14 dagen</b>.</td></tr></table>
</footer>

