/* 
    Document   : style.css
    Created on : 21-dec-2011, 15:55:41
    Author     : Arjan van den Broek
    Description: Styles of the website
*/
/*==== RESET DO NOT CHANGE!! ====*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*==== CLEARFIX ====*/
/* For modern browsers */
.cf:before,
.cf:after,
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}

.cf:after, .clearfix:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    *zoom:1;
}
.clear { clear: both;}

/*==== Start your styles from here ====*/

body{
    background-color: #333;
    height: 100%;
    width: 100%;
    text-align: center;
    font: 11px/1.5 Verdana, Arial, sans-serif;
}
div#container{
    width: 750px;
    height: 240px;
    background-color: #f2f2f2;
    margin: 0 auto;
    text-align: left;
    border: 1px dashed #adadad;
}

div#leftColumn{
    width: 260px;
    border-right: 1px dashed #adadad;
    height: 100%;
    float: left;
    text-align: center;
}
div#leftColumn p{
    text-align: left;
}

div#middleColumn{
    float: left;
    height: 100%;
    width: 354px;
}

div#rightColumn{
    float: right;
    height: 100%;
    width: 95px;
    background: url('/images/layout/browserwarning/bg-continue.jpg') repeat 0 0 transparent;
    text-align: center;
    color: #FFF;
    padding: 0 20px;
}

div#rightColumn a{
    color: #FFF;
    text-decoration: none;
    margin-top: 60px;
    display: block;
}
div#rightColumn img{
    display: block;
    margin-top: 20px;
}

img#warning{
    margin: 0 auto;
    margin-top: 10px;
}

div#leftColumn p{
    margin: 10px 0;
    padding: 0 20px;
}

div.browserLogoContainer{
    text-align: center;
    width: 150px;
    height: 95px;
    float: left;
}

div.browserLogoContainer a{
    color: #444;
}

div.browserLogoContainer.firstRow{
    padding: 20px 0 20px 0;
}
div.browserLogoContainer.firstCol{
    margin-left: 13px;
}

img.browserLogo{
    width: 87px;
    height: 74px;
    border: 0 none;
}