/* 
    Document   : errors_style.php
    Created on : 21-dec-2011, 13:47:42
    Author     : Arjan van den Broek
    Description: Stylesheet for styling error document pages
*/

html, body {
	background: #fff;
	margin: 10px;
}

div#container {
	position: relative;
	width: 708px;
	height: 200px;
	margin: 0 auto;
	padding: 20px;
	border: 1px dashed #999;
	background: #efefef;
}

div#containerLeft {
	float: left;
	width: 220px;
	height: 167px;
	padding-top: 33px;
}

div#containerRight {
	border-left: 1px dashed #999;
	float: right;
	width: 467px;
	height: 142px;
	padding-top: 58px;
}

p {
	position: absolute;
	bottom: 10px;
        margin: 0;
	right: 124px;
	font: 10px Verdana, Geneva, sans-serif;
	color: #000;
}

a {
	color: #000;
	outline: 0;
}

a:hover {
	color: #666;
}

div#containerLeft img {
	border: 1px solid #cbcbcb;
}

h1, h2, h3, h4 {
	font-family: Verdana, Geneva, sans-serif;
}

h3, h4 {
	text-align: center;
}

h1 {
	margin-bottom: 0;
	font-size: 12px;
}

h1 span {
	color: #f00;
}

h2 {
	margin-top: 0;
	font-size: 11px;
	font-style: italic;
	font-weight: normal;
}

h3 {
	font-size: 15px;
}

h4 {
	font-size: 13px;
	font-weight: normal;
}