body {
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    margin:0;
    padding:0;
}


#companyInfo td {
    padding:10px;
    vertical-align: top;
}

#logo {
    width:80mm;
}

#customerInfo {
    top: 50mm;
    margin-left: 4mm;
    font-size: 12pt;
    line-height: 1.6;
    position:absolute;
}

.pullUp {
    margin-top: -5mm;
}


#orderDetail {
    font-size:9pt !important;

}

#orderDetail tfoot {
    font-size:10pt;
}

footer {
    text-align:center;
    font-size: 8pt;
}
footer table td {
    background-color:grey; 
    text-align: center;    
    font-size: 8pt;
}

.topBorder {
    border-top:thin solid black;
}

.bottomBorder {
    border-bottom:thin solid black;
}