/* DESKTOP */
@media (min-width: 1050px) {
    .hide-on-desktop {
        display: none;
        height: 0;
    }

    nav#main-menu {
        margin-left: -10px;
    }

    /* Fotoalbum */
    .fotoalbums .photoalbum-detail .column-25 img, .fotoalbums .photoalbum-overview .column-25 img {
        width: 100%;
    }

    .nieuws .newsitem-block-container .images {
        margin-top: 20px;
    }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1050px) {
    .newsitem-container .column-25 {
        width: 100%;
    }

    .container-brandbox {
        width: 90%;
    }

    .default-container-width {
        width: 90%;
    }

    .show-on-tablet {
        display: block;
        height: auto;
    }

    .hide-on-tablet {
        display: none;
        height: 0;
    }
    .page-header-container {
        position: relative;
        width: 90%;
        margin: 0 auto;
    }

    nav#main-menu {
        margin-left: -10px;
    }


    /* HOME */
    .home .column-25 {
        margin-top: 20px;
    }

    .home .newsitem-container .column-width {
        width: 0;
    }

    .home .newsitem-content h3 {
        height: 80px;
    }

    #brandbox-module .slide .brandbox-item-text {
        width: 95%;
    }

    #brandbox-module .brandbox-item-text .line {
        font: 20px/28px Arial, Helvetica, sans-serif;
    }   

    .home .newsitem-summary {
        height: 130px;
    }


    /* Fotoalbum */
    .fotoalbums .photoalbum-detail img,
    .fotoalbums .photoalbum-overview img {
        width: 100%;
    }

    .nieuws .newsitem-block-container .images {
        margin-top: 20px;
    }


    /* Webshop */

    /* Product overview */
    .products-overview .product-content {
        min-height: 70px;
    }

    .products-overview .product-name{
        min-height: 60px;
        overflow: hidden;
    }

    .products-overview .product-content, .home .product-content {
        min-height: 70px;
        font-size: 12px;
        margin-top: 5px;
    }

    /* Motoren */

    .bike-column-title {
        padding-top: 10px;
        padding-bottom: 10px;
        height: 40px;
        overflow: hidden;
        white-space: normal;
    }

    .bike-overview-column-title {
        min-height: 70px;
    }

    .bike-crop-homepage{
        height: 100%;
        overflow: visible;
        display: block;
    }

    .bike-crop-overview{
        height: 100%;
        overflow: visible;
        display: block;
    }

    .discount .read-more {
        margin-top:8px; 
        margin-left: 120px; 
        width: 155px;
    }

    .payment-concept .column-25{
        min-width: 110px;
    }

}

/* MOBILE */
@media (max-width: 767px) {

    .agenda .column-25, .agenda .column-75 {
        width: 100%;
    }

    .container-brandbox {
        width: 85%;
    }

    .default-container-width {
        width: 85%;
    }
    header #logo {
        margin: 0;
    }

    .page-header-container{
        position: relative;
        width: 85%;
        margin: 0 auto;
    }

    header {
        height: 110px;
    }

    #nav-button {
        display: block;
        width: 25px;
        height: 19px;
        background: url('/images/layout/show-nav.png') no-repeat;
        position: absolute;
        top: 10px;
        left: 10px;
        bottom: 5px;
        right: 20px;
        cursor: pointer;
    }

    .mini-buttons {
        top: 0px;
        right: 0px;
        position:absolute; 
        display: inline-block;
        min-width: 200px;
        padding-right:10px;
    }

    .cart-button {
        display: block;
        width: 50px;
        height: 25px;
        background: url('/images/layout/cart-mobile.png') no-repeat;
        cursor: pointer;
        margin: 10px 0px 0px 6px;
        float: right;
        padding: 0px    
    }

    .inlog-button {
        display: block;
        width: 35px;
        height: 25px;
        background: url('/images/layout/login-icon-mobile.png') no-repeat;
        cursor: pointer;
        margin-top: 10px;
        float: right;
        padding: 0px
    }

    .click-call-button {
        display: block;
        width: 28px;
        height: 25px;
        background: url('/images/layout/click-call-mobile.png') no-repeat;        
        cursor: pointer;
        margin: 10px 0px 0px 6px;
        float:right;
        padding: 0px
    }    

    nav#main-menu {
        display: none;
        position: absolute;
        top: 131px;
        left: 0;
        z-index: 999;
        background: #ccc;
    }

    nav#main-menu li {
        width: 100%;
        margin-left: 0;
        border-bottom: 1px dotted #fff;
    }

    nav#main-menu li:last-child {
        border-bottom: none;
    }

    nav#main-menu a {
        line-height: 40px;
        color: #fff;
        padding: 0 5px;
    }

    nav#main-menu ul ul li {
        border-bottom: none;
        border-top: 1px dotted #fff;
        text-indent: 20px;
    }

    nav#main-menu li:hover ul {
        display: block;
        position: relative;
        margin-left: 0;
    }

    nav#main-menu ul ul {
        display: block;
    }

    nav#main-menu li a {
        color: #fff;
        padding: 10px;
    }


    .mobile-menu{
        width: 100%;
        height: 40px;
        margin-top: 10px;
        position: relative;
        bottom: 0;
        z-index: 5;
    }

    .show-on-mobile {
        display: block;
        height: 43px;
    }

    .hide-on-mobile {
        display: none;
        height: 0;
    }

    /* HOME */
    .home .column-25 {
        width: 100%;
        float: none;
        margin-top: 20px;
    }

    .home .newsitem-container .column-width {
        width: 0;
    }
    .home .column-75 {
        width: 100%;
    }
    .home .column-33{
        width: 100%;
    }

    .home .newsitem-summary {
        margin-bottom: 15px;
        clear: both;
        min-height: 70px;
        height: 100%;
    }

    /* Twitter feed */
    .twitter-feed {
        width:100%;         
    } 
    

    /* Call me back */
    .call-me-back {
        width:100% ;   
    }

    /* Photoalbums */
    .fotoalbums .photoalbum-detail img {
        width: 100%;
    }

    /* Brandbox */
    #brandbox-module .brandbox-item-text .line{
        font-size: 16px;
    }

    /* Page */
    .page .column-50{
        width: 100%;
    }
    .page .page-sidebar{
        width: 100%;
    }
    .page .column-25{
        width: 100%;
    }
    .page .column-75 {
        width: 100%;
    }
    .play-video{
        width:20px;
        height:20px;
    }

    #brandbox-module .slide .brandbox-item-text {
        width: 350px;
        margin-left: -175px;
    }

    .container-brandbox {
        margin-bottom: 25px;
    }

    /* Contact Page*/

    .contact .column-50{
        width: 100%;
    }

    /* News Page*/

    .nieuws .column-25{
        width: 100%;
    }
    .nieuws .column-75{
        width: 100%;
    }
    .nieuws .column-50{
        width: 100%;
    }
    .nieuws a.read-more{
        display: block;
        margin-bottom: 10px;
    }

    /* Foto albums */

    .fotoalbums .column-25 img{
        width: 100%;
        height: auto;
    }


    /* Footer */
    #sticky-footer .aside {
        text-align: left;
        margin-top: 10px;
        position: inherit!important;
        right: 0!important;
        bottom: 0px!important;
    }
    .social-media-icons {
        position: inherit!important;
        top: 0!important;
        right: 0!important;
    }
    #sticky-footer .footer-address {
        margin-bottom: 10px;
    }

    #push-sticky-footer {
        height: 300px;
    }

    /* Webshop */

    .shopping-cart{
        display:none;
        background:#ccc;
        position:absolute;
        right:20px;
        top:131px;
        border: 1px solid #96bd0c;
        z-index: 999;
    }


    /* Product overview */

    .products-overview .column-25{
        width: 100%;
    }

    .products-overview .product-price, .home .product-price{
        color: #fff;
        font-size: 18px;
        padding: 5px;
        background: #96bd0c;
        position: inherit;
        text-align: center;
        font-size: 26px;
    }

    .products-overview a.read-more{
        width:97%;
    }

    .products-overview-head{
        margin-top: 25px;
    }

    .products-overview .product-content, .home .product-content{
        min-height: 40px;
        font-size: 14px;
    }

    /* Product detail */

    .tabs .tabsHolder{
        display: none;
    }

    .tabs .tabDetails .tabLabel{
        display: inherit;
        color: #fff;
        background: #ccc;
        padding: 5px 10px;
        margin-top: 10px;
        background: url(/images/layout/opened.png) no-repeat #ccc;
        background-position: 95% 50%
    }

    .tabs .tabDetails .tabContent.opened {
        display: block;
        padding: 10px;
    }

    .product-filter-column {
        display: none;
    }

    .product-detail-image-small.column-25{
        width: 48.79310344827586%;
    }

    /* Product Category Filter */
    .product-filter-head-mobile{
        background: url(/images/layout/opened.png) no-repeat #f00;
        padding: 5px 5px 5px 10px;
        color: #fff;
        display: block;
        line-height: 30px;
    }

    /* Shopping cart Page*/

    .basket .product {
        min-height: 190px;
        height: 100%;
        border-bottom: none;;
        margin-bottom: 20px;
        border: none!important;
    }

    .basket .product-order-details {
        text-align: right;
        margin-top: 10px;
        margin-left: 0px;
    }

    .basket .product-order-price {
        text-align: right;
        margin-top: 0px;
        border-bottom: 1px solid #ccc;
    }

    .payment-concept:first-child{
        margin-top: 10px;
        border-top: 5px solid #ccc;
        padding-top: 10px;
    }

    /* Login column header*/

    .login-column{
        background:#fff;
        border: 1px solid #ccc;
        display:none;
        position: absolute;
        right: 20px;
        top:131px;
        z-index: 999;
    }

    /* Shopping cart column header*/

    .shopping-cart a.read-more, .shopping-cart .read-more{
        width:95%;
    }

    .cart-button-amount{

        margin-top: -12px;
        width: 15px; 
        margin-left: 15px;
        font-size: 12px; 
        font-weight: bold;
        text-align: center;
        color: #fff!important;
    }

    /* Motoren */

    .bike-overview-column{
        margin-bottom: 15px;
    }

    .bike-overview-column a.read-more{
        width: 98%;
    }

    .bike-detail-content a.read-more{
        width: 98%;
    }

    .bike-detail-content{
        font-size: 12px;
    }

    .bike-crop-homepage{
        height: 100%;
        overflow: visible;
        display: block;
    }

    .bike-crop-overview{
        height: 100%;
        overflow: visible;
        display: block;
    }

    .bike-overview-column-title {
        min-height: 30px;
        font-size: 18px;
    }

    .discount-button {
        margin-top: 8px !important; 
        margin-left: 0px !important; 
        width: 125px !important;
    }

    .coupon-text {
        float: left !important; 
        width: 70px  !important;    
    }    
}