/*==== DEFAULT STYLES ====*/
html, 
body {
    height: 100%;
}

html {
    background: #fff;
}

body {
    height: 100%;
    color: #000;
    font: 14px/1.7 Arial, Helvetica, sans-serif;
}

a {
    color: #f00;
}

a:hover {
    text-decoration: underline;
}

a.active {
    background: #000;	
}

ol,
ul {
    margin-left: 20px;
}

hr {
    border-bottom: 1px solid #f00;
}

h1 {
    font: bold 22px/24px Arial, Helvetica, sans-serif;
}

h2 {
    font: 16px/20px Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h3 {
    font: 14px/20px Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.images img {
    width: 96%;
    height: auto;
    padding: 2%;
    background: #767475;
}

.image-title{
    color: #fff;
    padding: 5px 5px 0px 5px;
    text-align: center;
    font-size: 11px;
    line-height: 1.4;
}

.default-container-width {
    position: relative;
    width: 960px;
    padding: 20px;
    margin: 0 auto;
}

.header-image img {
    max-width: 100%;
}

#content-wrapper {
    min-height: 100%;
    margin: 0 auto;
    position: relative;
}

.overflow-visible {
    overflow: visible;
}

.column-width {
    width: 2.413793103448276%;
}

.column-25 {
    width: 23.18965517241379%;
}

.column-33{
    width: 31.7%;
}

.column-50 {
    width: 48.79310344827586%;
}

.column-75 {
    width: 74.39655172413792%;
}

.column-100 {
    width: 100%;
}

.header-image {
    margin-bottom: 20px;
}

.page-header-image img {
    width: 100%;
}




/*==== FONT FACE ====*/

/*==== BRANDBOX =====*/
.bx-viewport {
    margin-bottom: 12px;
}

/*==== HEADER ====*/
header {
    height: 120px;
    position: relative;
}

header #logo {
    margin-bottom: 20px;
    height: 60px;
}

.logo-size{
    max-width: 250px!important;
    height: 60px!important;
}

.mini-buttons {
    position:absolute;
    right: 20px;
    top:30px;
}

/*==== NAVIGATION ====*/

nav#main-menu {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    z-index: 999;
    overflow: hidden;
}

nav#main-menu li {
    position: relative;
    float: left;
    background: none;
    padding-left: 0;
}

nav#main-menu li a {
    display: block;
    padding: 3px 5px 2px 4px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

nav#main-menu li ul {
    display: none;
}

nav#main-menu li:hover li {
    float: none;
}

.breadcrumbs {
    margin-bottom: 12px;
    word-wrap: break-word;
}

.sub-navigation ul {
    margin-left: -10px;
}

.sub-navigation ul li ul{
    margin-left: 10px;
    margin-top:5px;
}

.sub-navigation li {
    margin-bottom: 11px;
}

.sub-navigation a {
    padding: 7px 25px 7px 5px;
    text-decoration: none;
    background: url(/images/layout/arrow-right.png)no-repeat;
    background-position: 95% center;
    background-color: #ccc;
    display: block;
    line-height: 20px;
}

.sub-navigation a:hover{
    text-decoration: none;
    -webkit-transition: background 0.3s ease-in;
    -moz-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
    transition: background 0.3s ease-in;
}

.cart-button {
    display: block;
    width: 50px;
    height: 30px;
    background: url('/images/layout/motoren/cart.png') no-repeat;
    background-position: bottom;
    cursor: pointer;
    padding:6px;
    float:left;
}

.cart-button-amount{
    width: 15px; 
    margin-left: 14px;
    font-size: 12px; 
    font-weight: bold;
    text-align: center;
    color: #f00;
}

.inlog-button {
    display: block;
    cursor: pointer;
    color: #f00;
    text-align: left;
    white-space: nowrap;
    float: left;
    padding:6px;
}

.inlog-button-content{
    float: left; 
    padding-left: 5px;
    padding-top: 9px;
}


/*==== CONTENT ====*/

a.read-more {
    display: inline-block;
    font: 14px/16px Arial, Helvetica, sans-serif;
    padding: 5px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background 0.3s ease-in;
    -moz-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
    transition: background 0.3s ease-in;
    border-radius: 0;
}

a.read-more:hover{
    text-decoration:none;
}

.read-more {
    display: inline-block;
    font: 14px/16px Arial, Helvetica, sans-serif;
    padding: 5px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background 0.3s ease-in;
    -moz-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
    transition: background 0.3s ease-in;
    border: none;
    border-radius: 0;
}

.youtube-video {
    position: relative;
}


/* HOME */

.container-brandbox {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

#brandbox-module {
    position: relative;
    z-index: 1;
    display: none;
}

#brandbox-module a {
    text-decoration: none;
    display: block;
}

#brandbox-module .slide .brandbox-item-text {
    position: absolute;
    bottom: 25px;
    text-align: center;
    left: 50%;
    margin-left: -470px;
}

#brandbox-module .brandbox-item-text .line {
    display: inline-block;
    font: 30px/28px Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 6px 8px 3px 7px;
    margin-bottom: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('/images/layout/bg-black-transparent.png');
}

#brandbox-module .bx-controls {
    width: 100%;
    height: 10px;
    position: absolute;
    z-index: 99999;
}

#brandbox-module .bx-pager {
    bottom: -15px;
}

#brandbox-module .bx-pager {
    text-align: center;
    width: 100%;
    position: absolute;
}

#brandbox-module .bx-pager-item {
    display: inline-block;
    width: 15px;
    height: 15px;
    text-indent: -99999px;
    text-transform: capitalize;
    margin: 0 3px;
    background: url('/images/layout/pager-bullit.png') no-repeat 0 0;
}

#brandbox-module .bx-pager-item a {
    display: block;
    width: 15px;
    height: 15px;
}

#brandbox-module .bx-pager-link.active {
    background: url('/images/layout/pager-bullit.png') no-repeat 0 -15px;
}

#brandbox-module .bx-controls-direction a {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -265px;
    text-indent: -9999px;
}

/* Twitter feed */

.twitter-feed {
    margin: 10px 0px 20px 0px;
    width:50%
}

.twitter-feed .bx-wrapper{
    margin-left:50px !important;
}

.tweet-heading {
    border-bottom: 2px solid #c3c3c3;
    min-height:35px
}

.twitter-feed .bx-viewport {
    background: none !important;
}
.twitter-feed .bx-wrapper .bx-prev {
    left: -50px;
    top: 55px;
    background: url(/images/bxslider/controls.png) no-repeat 0 -32px;
}

.twitter-feed .bx-wrapper .bx-next {
    right: 0px;
    top: 55px;
    background: url(/images/bxslider/controls.png) no-repeat -43px -32px;
}

.twitter-feed h2 {
    font-size:16px;
    margin-left:40px;
    padding-top:6px;
    margin-bottom: 11px;
}

.twitter-feed .tweet-icon {
    background: url('/images/layout/twitter-logo-grey.png') no-repeat #fff;
    width:30px;
    height:30px;  
    float:left;
}

.twitter-feed .tweet-date {
    color: #d6d6d7;   
    padding-right:40px;
}

.twitter-feed p {
    padding-right:40px;
}

/* Call me back */

.call-me-back {
    margin-top: 20px;
    margin-bottom: 20px;
/*    width:48.79310344827586%*/
    width: 48%;
}

.call-me-back hr {
    border: 1px solid #c3c3c3;
}

.call-me-back h2 {
    font-size:16px
}

.call-me-back input[type='text'] {
    max-width: 160px;
    margin-right: 6px;
    margin-bottom: 6px;
    float:left
}

.call-me-back .read-more {
    width: 100px;
    float: left
}

.call-me-back input[type='text']::-webkit-input-placeholder {
    font-style: italic
}

.call-me-back input[type='text']:-moz-placeholder { /* Firefox 18- */
    font-style: italic  
}

.call-me-back input[type='text']::-moz-placeholder {  /* Firefox 19+ */
    font-style: italic  
}

.call-me-back input[type='text']:-ms-input-placeholder {  
    font-style: italic  
}

.call-me-back .phone-icon {
    background: url('/images/layout/phone-icon-grey.png') no-repeat #fff;
    width:17px;
    height:29px;
    margin-right: 20px;
    float:left;
    margin-top: -9px
}

/* Continuous slider */
.continuousSlider{
    margin-left: -30px;
    height: 250px;
    overflow: hidden;
}

/* Home */
.module-container-title {
    clear: both;
    font: 20px/20px Arial, Helvetica, sans-serif;
    margin: 30px 0 20px 0;
}

.module-producten{
    border-bottom: 3px solid #767475; 
    padding-bottom: 15px
}

/* AGENDA */
/* Agenda list */


.agendaitem-detail .agendaitem-summary {
    font-style: italic;
}

.agendaitem-detail h1 {
    margin-bottom: 12px;
}

.agendaitem-block-container {
    clear: both;
}

.agenda .agendaitem-block {
    padding-top: 20px;
    padding-bottom: 20px;
    clear: both;
    border-bottom: 1px solid #767475;
}
/* agendaitem overview */
.agendaitem-date-categories {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.agendaitem-title{
    font-size: 18px;
    font-weight: bold;
}

/* Agenda Archive */
.agendaitem-content {
    border-top: 3px solid #767475;
}

#agendaarchive-link {
    clear: both;
    padding-top: 20px;
}

.agendaitems-archive-overview h1{
    padding-bottom: 15px;
}

/* NEWS */
/* news on home */
.home .newsitem-container-title {
    clear: both;
    font: 20px/20px Arial, Helvetica, sans-serif;
    margin: 30px 25px 20px 0;
}

.home .newsitem-block {
    float: left;
    min-height: 50px;
}

.home .newsitem-content h3 {
    padding-top: 7px;
    margin-bottom: 1px;
    height: 40px;
}

.home .newsitem-content {
    border-top: 3px solid #767475;
}

.home .newsitem-summary {
    margin-bottom: 15px;
    clear: both;
    height: 110px;
    font: italic 12px/16px Arial, Helvetica, sans-serif;
}

/* newsitem detail */
.newsitem-detail .newsitem-summary {
    font-style: italic;
}

.newsitem-detail h1 {
    margin-bottom: 12px;
}

.newsitem-block-container {
    clear: both;
}

.nieuws .newsitem-block {
    padding-top: 20px;
    padding-bottom: 20px;
    clear: both;
    border-bottom: 1px solid #767475;
}

/* newsitem overview */
.newsitem-date-categories {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
#newsarchive-link {
    clear: both;
    padding-top: 20px;
}
.newsitem-title{
    font-size: 18px;
    font-weight: bold;
}

/* newsitem archive */
.newsitems-archive-overview h1{
    padding-bottom: 15px;
}
/* PAGES */
.page-header-container{
    position: relative;
    width: 960px;
    margin: 0 auto;
}

.page-header-noimage{
    background:url(/images/layout/page-header-noimage.jpg) repeat;
    height:25px;
}

/* page detail */

.column-25 .play-video {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    margin-left: -35px;
    z-index: 10;
    width: 68px;
    height: 47px;
    padding: 0;
    background: transparent;
    left: 50%;
}

.page {
    margin: auto;
    width: 100%;
}

.page-sidebar img{
    width: 96%;
    height: auto;
    padding: 2%;
}

/*==== CONTACT ====*/
input[type="text"], textarea {
    border-radius: 0;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    color: #000;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
}

.contactForm input[type=submit] {
    background: #767475;
    border: none;
    color: #fff;
    float: right;
    font: 16px/16px Arial,Helvetica,sans-serif !important;
    height: 40px;
    margin-top: 20px;
    padding: 0;
    text-transform: uppercase;
    transition: background 0.3s ease-in 0s;
    width: 130px;
}

.google-maps img{
    max-width: none;
}

.google-maps-window {
    line-height: 20px;
    color: #000;
    font-size: 14px;
}

.google-maps-window a:hover {
    color: #2e4b8b;
    text-decoration: underline;
}

.contactForm label {
    -moz-box-sizing: border-box;
    color: #949494;
    display: block;
    cursor: pointer;
    font: 14px/30px Arial,Helvetica,sans-serif;
    height: 25px;
}

.contactForm input {
    width: 98%;
    padding: 1%;
    font: 14px/30px Arial,Helvetica,sans-serif;
}

.contactForm textarea {
    height: 100px;
    overflow: auto;
    resize: none;
    vertical-align: top;
    width: 98%;
    padding: 1%;
    font: 14px/30px Arial,Helvetica,sans-serif;
}

/* Fotoalbum */
.fotoalbums .photoalbum-detail img {
    margin-bottom: 12px;
}

/* Pagination */

.pagination .pageLink, .pagination .lastPage, .pagination .nextPage, .pagination .prevPage, .pagination .firstPage, .pagination .dotSep{
    padding: 5px;
    background: #f00;
    margin-right: 5px;
    color: #fff;
}
.pagination .currPage{
    padding:5px;
    background:#000;
    margin-right:5px;
    color:#fff;
}

.pagination, .perPage{
    float: left;
}

.perPage select{
    height: auto;
    vertical-align: baseline;
    padding: 3px;
}


/* Webshop */

.shopping-cart{
    display:none;
    background:#fff;
    position:absolute;
    right:20px;
    top:61px;
    border: 1px solid #f00;
    z-index: 999;
}

/* Click and Call */

.click-call-button {
    display: block;
    cursor: pointer;
    color: #767475;
    font-size: 1.1em;
    font-weight: bold;
    text-align: left;
    float: left;
    padding:6px;
}

.click-call-button:hover {
    color:#96BD0C !important;    
    opacity: 1;
    -webkit-transition: background 0.3s ease-in;
    -moz-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
    transition: background 0.3s ease-in;
}

.click-call-button img, .click-call-button div {
    float:left;
}


.click-call-button img {
    margin: 10px 6px 10px 0px;
    height: 25px;
}

.click-call-button div {
    line-height: 16px;
    margin: 8px 0px;

}

/* Product overview*/

.product-block{
    min-height: 250px;
    background: #fff;
    border: 1px solid #f00;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

.product-block-column{
    margin: 10px;
}

.product-block a.read-more{
    width: 95%;
}

.products-overview .column-25{
    width: 31.7%
}

.products-overview .product-image, .home .product-image{
    position:relative;
    margin-top: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.products-overview .product-name, .home .product-name{
    min-height: 40px;
    overflow: hidden;
    line-height: 1.3;
    border-bottom: 3px solid #ccc;
}
.products-overview .product-content, .home .product-content{
    min-height: 50px;
    font-size: 12px;
    margin-top: 5px;
}
.products-overview .product-description, .home .product-description{
    font-size: 12px;
    line-height: 1.5;
    margin-top: 5px;
}
.products-overview .product-price, .home .product-price{
    color: #fff;
    font-size: 18px;
    position: absolute;
    bottom: 10px;
    right: 0;
    padding: 5px;
    background: #f00;
}
.products-overview .product-original-price, .home .product-original-price{
    color: #fff;
    text-decoration: line-through;
    font-size: 12px;
    position: absolute;
    bottom: 50px;
    right: 0;
    padding: 2px;
    background: #f00;
}

.products-overview .product-block img, .home .product-block img{
    width: 100%;
    height: auto;
}

.products-overview-description{
    border: 1px solid #f00;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    padding: 10px;
    background: #fff;
    color: #F00;
}

.products-overview-head{
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    margin-bottom: 15px;
}

/* Product detail */

.product-detail-column{
    padding: 10px;
    border: 1px solid #f00;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    background: #fff;
    color: #000;
}

.product-detail .product-info{
    margin-bottom: 20px;
}

.product-detail .product-price{
    font-size: 24px;
    color: #000;
}
.product-detail .product-price-detail{
    font-size: 10px;
}

.product-detail-image{
    border: 1px solid #f00;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
    position: relative;
    margin-bottom: 10px;
}

.product-detail-image-small{
    border: 1px solid #f00;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
    float: left;
    margin-bottom: 10px;
}
.product-detail-share{
    margin-bottom: 10px;
}

.product-detail .product-detail-image a:hover{

}

.product-detail-title{
    padding-bottom: 10px; 
    display: block;
    border-bottom: 3px solid #ccc;
    margin-bottom: 10px;
    overflow: hidden;
    word-wrap: break-word;
}

/* Product categories */
.product-categories{
    border: 1px solid #f00;
    background: #fff;
    line-height: 30px;
}
.product-categorie-active{
    background: #f00;
    padding: 5px 5px 5px 10px;
    color: #fff;
}
.product-categorie-active a{
    color: #f00;
}
.product-categorie-column{
    padding: 0 10px 0 10px;
    display: block;
}
.product-categorie-column a{
    color: #f00;
}
.product-categorie-column a:hover{
    color: #f00;
}
#product-filter{
    border: 1px solid #f00;
    background: #fff;
    margin-bottom: 20px;
}
.product-filter-head{
    background: #f00;
    padding: 5px 5px 5px 10px;
    color: #fff;
    display: block;
    line-height: 30px;
}

#product-filter .product-filter-column form > div, #product-filter .product-filter-column form > div .min {
    margin-bottom: 10px;
}

#product-filter .product-filter-column label.property{
    display: block;
}

.opened{
    background: url(/images/layout/closed.png) no-repeat #ccc;
    background-position: 95% 50%
}

.product-filter-column{
    padding: 10px;
    color: #f00;
    overflow: hidden;
}

.product-filter-width{
    width: 100%;
}

.productcategorie-block{
    background:#f00;
    color:#fff;
}
.productcategorien, .productcategorien ul{
    list-style: none;
}
.productcategorien a{
    color:#fff;
}

/* Tabs on product detail */

.tabs{
    position:relative; 
    width:100%;
}

.tabs .tabsHolder ul{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #F00;
}

.tabs .tabsHolder ul li{
    list-style-type: none;
    display: block;
    float: left;
    margin: 0;
}

.tabs .tabsHolder ul li:hover{
    cursor: pointer;
}

.tabs .tabsHolder ul li span.label{
    display: block;
    padding: 5px 10px;
}

.tabs .tabsHolder ul li span.label:hover{
    background: #f00;
    border-bottom: 1px solid #f00;
    -webkit-transition: background 0.3s ease-in;
    -moz-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
    transition: background 0.3s ease-in;
}

.tabs .tabsHolder ul li.active span.label{
    background-color: #F00;
}

.tabs .tabDetails .tabContent{
    display: none;
}
.tabs .tabDetails .tabContent.opened{
    display: block;
    border: 1px solid #F00;
    padding: 10px;
    background: #fff;
    color: #000;
}

.tabs .tabDetails .tabLabel{
    display: none;
}

.statusUpdate{
    color: #f00;
}

.tabs .tabDetails .tabContent p:last-child{
    margin-bottom: 0;
}

/* Shopping cart Page */
.basket .product-image{
    float: left;
    margin-right: 10px;
}

.basket .product{
    min-height: 120px;
    height: 100%;
    border-bottom: 1px solid #f00;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-bottom: 20px;
    background: #fff;
    padding: 10px
}

.basket .size-color {
    display: block;
}

.basket .head, .order .head, .bike .head, .page .head{
    margin-bottom:10px; 
    padding-bottom:10px;
    border-bottom: 1px solid #f00;
}

.basket .product-order-details{
    text-align: right;
    margin-top: 20px;
    margin-left: 15px;
}
.basket .product-order-prices{
    margin-top: 20px;
}

.basket .product-order-original-price{
    color:  #f00;
    font-size: 12px;
    text-decoration: line-through;
    text-align: right;
}
.basket .product-order-price{
    text-align: right;
}

/* Payment information */
.payment-concept{
    min-height: 30px;
    height: 100%;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #fff;
    overflow: hidden;
}

.payment-concept .product-order-price{
    text-align: right;
    margin-top: 0;
}
.payment-concept .discount-button {
    margin-top: 8px !important; 
    margin-left: 0 !important; 
    width: 155px !important;
    margin-bottom: 10px;
}

.payment .read-more {
    margin-top: 5px;
}

.payment .payment_box{
    padding: 10px;
}
.steps{
    margin-bottom: 10px;
    line-height: 28px;
}

.step{
    display: block;
    color: #fff;
    background-color: #f00;
    font-size: 14px;
    margin-bottom: 0;
    float: left;
    width: 100%;
}

.step-active{
    display: block;
    color: #fff;
    background-color: #000;
    font-size: 14px;
    margin-bottom: 0;
    float: left;
    width: 100%;
}
.step-amount{
    height: 30px;
    width: 30px;
    background: #f00;
    float: left;
    text-align: center;
    margin-right:10px

}
.step-sep{
    background: url(/images/layout/step-sep.png) no-repeat center center;
    display: block;
    height: 20px;
    float: left;
    width: 100%;
}
.delete-button{
    width: 30px;
    height: 30px;
    display: block;
    background: url(/images/layout/delete-button.png) #ccc no-repeat;
    border:none;
    float: left;
}
.refresh-button{
    width: 30px;
    height: 30px;
    display: block;
    background: url(/images/layout/refresh-icon.png) no-repeat;
    border:none;
    float:left;
    margin-right: 10px;
}

.refresh-button-small{
    width: 20px;
    height: 20px;
    display: block;
    background: url(/images/layout/refresh-icon-small.png) no-repeat;
    border:none;
    float:left;
    margin-right: 10px;
}

.basket input[type="text"]{
    width: 20px;
    padding: 5px 10px 3px 10px;
    float: left;
    text-align: center;
    margin-right: 10px;
}
.delete-button-small{
    width: 20px;
    height: 20px;
    display: block;
    background: url(/images/layout/delete-button-small.png) #ccc no-repeat;
    border:none;
    float: right;
    margin-top: 4px;
    cursor: pointer;
}

.basket .basket-order-details-column{
    background: #f00;
    color: #000;
    padding:10px;
    line-height: 28px;
}


.basket .underline{
    border-bottom: 1px solid #f00;
    width: 100%;
}
.basket .upperline{
    border-top: 1px solid #f00;
    width: 100%;
}

/* Order Page */
.order select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    color: #f00;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 1.4;
    vertical-align: middle;
    width: 95%;
    padding: 2px;
}

.order-column{
    background: #f00;
    padding: 10px;
    color: #000;
}

/* Shopping cart column header*/

.shopping-cart{
    background: #fff;
    border: 1px solid #f00;
}
.shopping-cart-head{
    background: #f00;
    display: block;
    padding: 5px;
    line-height: 30px;
}

.shopping-cart-content{
    padding:10px;
    color: #000;
    font-size: 12px;
    background: #fff;
}

.shopping-cart-content a{
    color: #f00;
    font-size: 12px;
}

.shopping-cart-price{
    padding: 10px;
    border-top: 1px solid #f00;
    background: #fff;
    line-height: 28px;
}

/*Login column header*/

.login-column{
    background:#fff;
    border: 1px solid #f00;
    display:none;
    position: absolute;
    right: 100px;
    top: 61px;
    z-index :999;
    min-width: 150px;
    line-height: 30px;
}
.login-column-head{
    background: #f00;
    display: block;
    padding: 5px;
    color: #fff;
}

.login-column-content{
    padding:10px;
    color: #000;
    font-size: 12px;
    overflow: hidden;
}

.login-column-content a{
    color: #f00;
    font-size: 12px;
}

.login-column-head a{
    color: #fff;
}

.statusUpdate{
    display: none;
}

/* Account */

.account-column{
    padding: 10px;
    background: #fff;
    color: #000;
    line-height: 30px;
}

/* Motoren */

.bike-column{
    border-top: 3px solid #767475;
    position: relative;
}

.bike-column-title{
    padding-top: 10px;
    padding-bottom: 10px;
    height:20px;
    overflow:hidden;
    white-space: nowrap;
    color: #767475;
}

.bike-overview-column{
    background: #fff;
    color: #000;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.bike-overview-column-title{
    min-height: 60px;
    border-bottom: 3px solid #ccc;
    margin-bottom: 10px;
}

.bike-overview-column-image{
    border: 1px solid #ccc;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.bike-detail-title{
    padding-bottom: 10px; 
    display: block;
    border-bottom: 3px solid #ccc;
}

.bike-detail-content{
    margin-top: 10px;
    display: block;
}

.bike-detail-column{
    padding: 10px;
    background: #fff;
    color: #000;
    border: 1px solid #ccc;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-bottom: 20px;
}

.bike-overview-column a.read-more{
    width: 95%;
}

.bike-detail-image{
    position: relative;
    border: 1px solid #f00;
    box-sizing: border-box;
}

.bike-detail-thumb{
    border: 1px solid #f00;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    margin-bottom: 10px;
}

/*==== FOOTER ====*/
#sticky-footer {
    font: 14px/14px Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#push-sticky-footer {
    height: 180px;
}

.footer-padding {
    padding: 20px;
}

#sticky-footer .social-media {
    position: absolute;
    top: 30px;
    right: 10px;
}

#sticky-footer .social-media a {
    display: block;
    width: 40px;
    height: 40px;
    float: left;
    margin: 0 0 0 5px;
}

#sticky-footer .address-company {
    font: bold 16px/16px Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    display: block;
}

#sticky-footer .address-phonenumber {
    font: 14px/14px Arial, Helvetica, sans-serif;
    margin: 10px 0 -10px;
    text-decoration: none;
    display: block;
}


#sticky-footer .aside {
    position: absolute;
    right: 18px;
    bottom: 30px;
    font: 12px Arial, Helvetica, sans-serif;
    text-align: right;
}

#sticky-footer .social-media-icons {
    position: absolute;
    top: 30px;
    right: 10px;
}

#sticky-footer .social-media-icons a {
    display: block;
    width: 40px;
    height: 40px;
    float: left;
    margin: 5px 5px 0 0;
}

.facebook-icon {
    background: url(/images/layout/sprite.png) no-repeat 0 0;
}

.facebook-icon:hover {
    background-position: 0 -40px;
}

.twitter-icon {
    background: url(/images/layout/sprite.png) no-repeat 0 -80px;}

.twitter-icon:hover {
    background-position: 0 -120px;
}

.google-icon {
    background: url(/images/layout/sprite.png) no-repeat 0 -160px;
}

.google-icon:hover {
    background-position: 0 -200px;
}

.linkedin-icon {
    background: url(/images/layout/sprite.png) no-repeat 0 -240px;
}

.linkedin-icon:hover {
    background-position: 0 -280px;
}

.pinterest-icon {
    background: url(/images/layout/sprite.png) no-repeat 0 -320px;
}

.pinterest-icon:hover {
    background-position: 0 -360px;
}

.vimeo-icon {
    background: url(/images/layout/sprite.png) no-repeat 0 -400px;
}

.vimeo-icon:hover {
    background-position: 0 -440px;
}

.skype-icon {
    background: url(/images/layout/sprite.png) no-repeat 0 -480px;
}

.skype-icon:hover {
    background-position: 0 -520px;
}

/*Remove shadow on input fields ipad*/
input[type="text"], input[type="email"], input[type="search"], input[type="password"] {
    -webkit-appearance: none;
}

/* Image Zoom */

.image-zoom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 30px;
    background: #ccc;
    opacity: 0.7;
    padding: 5px;
    display: block;
}

a:hover .image-zoom {
    background: #f32626;
    opacity: 1;
    -webkit-transition: background 0.3s ease-in;
    -moz-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
    transition: background 0.3s ease-in;
}

/* Makes text unselectable */

.unselectable{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}


.bike-crop-homepage{
    height: 203px;
    overflow: hidden;
    display: block;
}
.bike-crop-overview{
    height: 134px;
    overflow: hidden;
    display: block;
}

.discount-button {
    margin-top: 8px !important; 
    margin-left: 116px !important; 
    width: 155px !important;
    margin-bottom: 5px;
}

.coupon-text {
    float: left !important;
    width: 105px !important;
    margin-top: 5px;
    margin-right: 0px !important;
}

.remove-discount {
    margin-top: 5px !important; 
    float:left;

}
/*
    BEGIN TOOLTIP
*/
#tooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid #454545;
    background-color: #FFF;
    padding: 2px 5px;
    opacity: 1;
}
#tooltip h3, #tooltip div { 
    font-size: 14px;
    color:#000;
    font-weight: normal;
    margin: 0; 
}

/*
    END TOOLTIP
*/

/* errorbox */
.errorBox {
    display: none;
    width: 100%;
    margin-bottom: 20px;
    padding: 5px 10px;
    background: #fff;
    border: 10px solid #a61814;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #000;
}

.errorBox label {
    float: none;
    width: 100%;
    height: auto;
}

.errorBox ul {
    margin-left: 15px;
}

.errorBox ul li {
    background: none !important;
    list-style: disc;
    padding: 0;
}