/************************************ DESKTOP ************************************/

/* GENERAL */
html {
    background: url(/images/layout/motoren/bg.jpg) repeat-x #fff;
    background-position: 0 -50px;
}

body {
    height: 100%;
    color: #000;
    font: 14px/1.7 Arial, Helvetica, sans-serif;
}


/* CONTENT */
a {
    color: #f32626;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

a.read-more, .read-more {
    background: #767475;
    color: #fff;
}

a.read-more:hover, .read-more:hover{
    background: #f32626;
}

h1 {
    color: #000;
}

h2 {
    color: #000;
}

h3 {
    color: #000;
}

.main-color {
    color: #000;
}

.newsitem-content h3 {
    color: #767475;
}

.images img {
    background: #767475;
}

.image-title{
    color: #000;
}



/* NAVIGATION */

.mobile-menu{
    background:#c2c2c2;
}

nav#main-menu a {
    color: #767475;
}

nav#main-menu a.active {
    background: #f32626;
    color: #fff;
}

nav#main-menu a:hover,
nav#main-menu ul > li:hover > a {
    background: #f32626;
    color: #fff;
}

nav#main-menu ul > li > ul {
    margin-bottom: 0;
}

.sub-navigation a {
    color: #fff;
    background-color: #767475;
}

.sub-navigation a:hover {
    background-color: #f32626;
}
.sub-navigation a.active {
    background-color: #f32626;
}

/* CONTACT */
.contactForm input[type=submit]:hover {
    background: #f32626;
}

.contactForm input[type=submit] {
    background: #767475;
}

.errorBox {
    background: #fff;
    border: 5px solid #a61814;
    color: #000;
}

select{
    border: 1px solid #ccc;
}

/* Pagination */

.pagination .pageLink, .pagination .lastPage, .pagination .nextPage, .pagination .prevPage, .pagination .firstPage, .pagination .dotSep{
    background: #767475;
    color: #fff;
}

.pagination .currPage{
    background: #f32626;
    color: #fff;
}

/* FOOTER */
.footer-background-color {
    background: #a6a6a6;
}

footer a{
    color: #fff;
}

footer {
    color:#fff;
}

/* Webshop */

.shopping-cart{
    background:#fff;
    border: 1px solid #ccc;
}
.shopping-cart-head{
    background:#ccc;
}

.shopping-cart-content{
    color: #000;
}

.shopping-cart-content a{
    color: #000;
}

.shopping-cart-price{
    border-top: 1px solid #ccc;
}

.shopping-cart-head a{
    color: #fff;
}

/* Product overview*/

.product-block{
    background: #fff;
    border: 1px solid #ccc;
    color: #000;
}

.products-overview .product-price, .home .product-price{
    color: #fff;
    background: #f32626;
}
.products-overview .product-block img, .home .product-block img{
    width: 100%;
    height: auto;
}

.products-overview-description{
    border: 1px solid #ccc;
    background: #fff;
    color: #000;
}

.products-overview .product-image, .home .product-image{
    border: 1px solid #ccc;
}

.products-overview .product-name, .home .product-name{
    border-bottom: 3px solid #ccc;
}

/* Product detail */

.product-detail .product-price{
    color: #f32626;
}

.product-detail-column{
    border: 1px solid #ccc;
    background: #fff;
    color: #000;
}

.product-detail-image{
    border: 1px solid #ccc;
}
.product-detail-image-small{
    border: 1px solid #ccc;
}

.statusUpdate{
    color: #f00;
}

/* Tabs on product detail*/

.tabs .tabsHolder ul li.active span.label{
    background-color: #f32626;
    border-bottom: 1px solid #f32626;
    color: #fff;
}

.tabs .tabsHolder ul{
    background-color: #CCC;
    color: #fff;
}

.tabs .tabsHolder ul li span.label:hover{
    background: #f32626;
    border-bottom: 1px solid #f32626;
}

.tabs .tabDetails .tabLabel.active{
    background: url(/images/layout/closed.png) no-repeat #f32626;
    background-position: 95% 50%;
}

.tabs .tabsHolder ul{
    background-color: #CCC;
}

.tabs .tabDetails .tabContent.opened{
    border: 1px solid #c4c4c4;
    background: #fff;
    color: #000;
}

/* Product navigation */

.product-categories{
    border: 1px solid #ccc;
    background: #fff;
}

.product-categorie-active{
    background: #ccc;
    color: #fff;
}

.product-categorie-active a{
    color:#f00;
}

.product-categorie-column a{
    color:#000;
}
.product-categorie-column a:hover{
    color:#f32626;
}

#product-filter{
    border: 1px solid #ccc;
    background: #fff;
}
.product-filter-head{
    background: #ccc;
    color: #fff;
}

.product-filter-head-mobile{
    background: url(/images/layout/opened.png) no-repeat #ccc;
    background-position: 95% 50%;
}
.opened{
    background: url(/images/layout/closed.png) no-repeat #ccc;
    background-position: 95% 50%;
}
.product-filter-column{
    color: #000;
}

/* Shopping cart Page */

.basket .product{
    border-bottom: 1px solid #ccc;
    background: #fff;
    color: #000;
}

.basket .head, .order .head, .bike .head, .page .head{
    border-bottom: 1px solid #ccc;

}

.step{
    color: #fff;
    background-color: #ccc;
}

.step-active{
    color: #fff;
    background-color: #f32626;
}
.step-amount{
    background: #ccc;
    color: #fff;
}
.step-sep{
    background: url(/images/layout/step-sep.png) no-repeat center center;
}
.delete-button{
    background: url(/images/layout/delete-button.png) #ccc no-repeat;
}
.refresh-button{
    background: url(/images/layout/refresh-icon.png) no-repeat;
}

.delete-button-small{
    background: url(/images/layout/delete-button-small.png) #ccc no-repeat;
}

.basket .basket-order-details-column{
    background: #fff;
    color: #000;
}


.basket .underline{
    border-bottom: 1px solid #ccc;
}
.basket .upperline{
    border-top: 1px solid #ccc;
}

/* Order Page */
.order select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    color: #000;
}

.order-column{
    background: #fff;
    color: #000;
}

/* Shopping cart column header*/


.cart-button-amount{
    color: #727272;
}

.shopping-cart{
    background:#fff;
    border: 1px solid #ccc;
}
.shopping-cart-head{
    background:#ccc;
}

.shopping-cart-content{
    color: #000;
    background: #fff;
}

.shopping-cart-content a{
    color: #000;
}

.shopping-cart-price{
    border-top: 1px solid #ccc;
    background: #fff;
}

/*Login column header*/


.inlog-button {
    color: #727272;
}

.login-column{
    background:#fff;
    border: 1px solid #ccc;
    color: #000;
}
.login-column-head{
    background:#ccc;
    color: #fff;
}

.login-column-content{
    color: #000;
}

.login-column-content a{
    color: #f32626;
}

.login-column-head a{
    color: #fff;
}

/* Image zoom */

.image-zoom {
    background: #ccc;
}

a:hover .image-zoom {
    background: #f32626;
}


/* Producten on Home*/

.module-producten{
    border-bottom: 3px solid #767475; 
}


/* Motoren */

.bike-column{
    border-top: 3px solid #767475;
}

.bike-column-title{
    color: #767475;
}

.bike-overview-column{
    background: #fff;
    color: #000;
    border: 1px solid #ccc;
}

.bike-overview-column-title{
    border-bottom: 3px solid #ccc;
}

.bike-overview-column-image{
    border: 1px solid #ccc;
}

.bike-detail-title{
    border-bottom: 3px solid #ccc;
}

.bike-detail-column{
    background: #fff;
    color: #000;
    border: 1px solid #ccc;
}

.bike-detail-image{
    border: 1px solid #ccc;
}

.bike-detail-thumb{
    border: 1px solid #ccc;
}

/* Style Special for Client*/
